@layer base, starlight, theme, components, utilities;

@import '@astrojs/starlight-tailwind';
@import 'tailwindcss/theme.css' layer(theme);
@import 'tailwindcss/utilities.css' layer(utilities);

@theme {
    /* Generated accent color palettes. */
    --color-accent-200: #f4b0dd;
    --color-accent-600: #9a007d;
    --color-accent-900: #5b0048;
    --color-accent-950: #400833;
    /* Generated gray color palettes. */
    --color-gray-100: #f8f4fe;
    --color-gray-200: #f2e9fd;
    --color-gray-300: #c7bdd5;
    --color-gray-400: #9581ae;
    --color-gray-500: #614e78;
    --color-gray-700: #412e55;
    --color-gray-800: #2f1c42;
    --color-gray-900: #1c1425;
}

.actions {
    @apply gap-4;
}

.actions > a {
    @apply rounded-lg;
}

.hero > img {
    @apply rounded-lg;
}